<br>
<h1 style="text-align: center;">Veilles Technologiques</h1>
<hr>
<br>
<div class="container">
  <mat-card>
    <mat-card-title>Qu'est ce que la veille technologique ?</mat-card-title>
    <mat-card-subtitle><i class="fa fa-circle"></i> La veille technologique est une technique qui consiste à s'informer des dernières actualités numériques</mat-card-subtitle>
  </mat-card>
</div>
<br>
<br>
<div style="margin-left: 4%;" >
  <mat-card class="veille">
    <div class="row" style="text-align: center;">
      <div class="col-lg-4">
          <img
            class="rounded-circle"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Actualité Angular</h2>
          <p>Angular 9 est sortis et propose de nombreuses fonctionnalités...</p>
          <p>
            <a
              class="btn btn-outline-primary"
              role="button"
              target="_blank"
              >Lien de l'article >></a
            >
          </p>
      </div>
      <div class="col-lg-4">
          <img
            class="rounded-circle"
            src="https://medium.com/icons/monogram-mask.svg"
            alt="Generic placeholder image"
            width="140"
            height="140"
          />
          <h2>Medium</h2>
          <p>Medium permet de se renseigner sur les dernières actualités que l'on a choisis</p>
          <p>
            <a
              class="btn btn-outline-primary"
              role="button"
              target="_blank"
              a href="https://medium.com/"
              >Lien de l'article »</a
            >
          </p>
      </div>
    </div>
  </mat-card>
</div>

